---
import Layout from "../layouts/Main.astro";
import Masthead from "../components/Masthead.astro";
import GigsList from "../components/GigsList.astro";
import About from "../components/About.astro";
import Media from "../components/Media.astro";
import Booking from "../components/Booking.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Career Tomboy | Chicago Cover Band">
    <header>
        <Masthead />
    </header>
    <main id="main-content">
        <GigsList />
        <Media />
        <About />
        <Booking />
        <Contact />
    </main>
    <Footer />
</Layout>
