<!-- Footer -->
<footer class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
            Copyright &copy; <%= new Date().getFullYear() %> - Career Tomboy |
            All Rights Reserved
        </div>
    </div>
</footer>
