<!-- Navigation -->
<div class="p-3 position-fixed top-0 start-50 translate-middle-x z-3">
    <nav id="mainNav" class="btn-group bg-primary bg-opacity-75">
        <a class="btn btn-primary-outline text-light" href="#gigs">Gigs</a>
        <a class="btn btn-primary-outline text-light" href="#contact">Contact</a>
    </nav>
</div>
