---
import Bg from "./Bg.astro";
const year = new Date().getFullYear();
---

<footer class="relative py-5">
    <Bg
        class="pointer-events-none absolute inset-0 h-screen w-screen"
        colorVar="--color-ct-strawberry"
    />
    <div class="container mx-auto px-4 lg:px-5">
        <p class="text-center text-sm text-slate-400">
            Copyright &copy; {year} - Career Tomboy | All Rights Reserved
        </p>
    </div>
</footer>
