---
import Gig from './Gig.astro';
import { getUpcomingGigs } from '../lib/gigs';
import Section from './Section.astro';

const upcomingGigs = getUpcomingGigs();
---

<Section id="gigs" headline="See us live!" color="strawberry">
    <div class="mx-auto max-w-3xl">
        <div
            id="gigs-list"
            role="feed"
            aria-label="Upcoming shows"
            class="mt-4 flex flex-col gap-4"
        >
            {
                upcomingGigs.length > 0 ? (
                    <>
                        {upcomingGigs.map((gig) => (
                            <Gig gig={gig} />
                        ))}
                    </>
                ) : (
                    <p class="py-8 text-center text-lg text-slate-700">
                        No upcoming shows scheduled. Check back soon!
                    </p>
                )
            }
        </div>
        <p class="mt-8 text-center text-sm">
            <a
                href="/calendar.ics"
                target="_blank"
                rel="noopener"
                class="inline-flex items-center gap-1.5 underline underline-offset-2 hover:no-underline"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 16 16"
                    height="16"
                    width="16"
                >
                    <g>
                        <path
                            fill="currentColor"
                            fill-rule="evenodd"
                            d="M10.666666666666666 1.5H4.333333333333333V0H2.6666666666666665v1.5H0v13.666666666666666h7.333333333333333v-1.6666666666666665H1.6666666666666665V5.666666666666666H13.333333333333332v2.1073999999999997c0.6083999999999999 0.13279999999999997 1.1724666666666665 0.3843333333333333 1.6666666666666665 0.7290666666666665V1.5h-2.6666666666666665V0H10.666666666666666v1.5Zm-0.7135333333333334 8.5182c0.6377999999999999 -0.6377333333333333 1.5028 -0.9960666666666667 2.404733333333333 -0.9960666666666667s1.7669333333333332 0.3583333333333333 2.404733333333333 0.9960666666666667c0.06646666666666666 0.06646666666666666 0.12993333333333332 0.13546666666666665 0.19026666666666664 0.20666666666666667L15.666666666666666 9.511066666666666l0.3333333333333333 0.3333333333333333v2.6666666666666665h-2.6666666666666665l-0.3333333333333333 -0.3333333333333333 0.7664 -0.7664c-0.05453333333333333 -0.07586666666666667 -0.1154 -0.14766666666666667 -0.18233333333333335 -0.2146 -0.3252 -0.3252 -0.7662666666666667 -0.5079333333333333 -1.2262 -0.5079333333333333s-0.9009999999999999 0.18273333333333333 -1.2262 0.5079333333333333c-0.17119999999999996 0.1711333333333333 -0.3028666666666666 0.37439999999999996 -0.38926666666666665 0.5955999999999999l-1.5525333333333333 -0.6060666666666666c0.16933333333333334 -0.4337333333333333 0.4276 -0.8323999999999999 0.7632666666666666 -1.1680666666666666ZM11.333333333333332 12.511066666666666h-2.6666666666666665v2.6666666666666665l0.3333333333333333 0.3333333333333333 0.7961999999999999 -0.7961999999999999c0.08006666666666666 0.10066666666666665 0.16606666666666664 0.1972 0.25793333333333335 0.28906666666666664 0.6377333333333333 0.6377999999999999 1.5028 0.9960666666666667 2.404733333333333 0.9960666666666667s1.7669333333333332 -0.3582666666666666 2.404733333333333 -0.9960666666666667c0.3356666666666666 -0.3356666666666666 0.5939333333333333 -0.7343333333333333 0.7632666666666666 -1.1680666666666666l-1.5525333333333333 -0.6060666666666666c-0.08639999999999999 0.22119999999999998 -0.21806666666666666 0.42446666666666666 -0.38926666666666665 0.5955999999999999 -0.3252 0.3252 -0.7662666666666667 0.5079333333333333 -1.2262 0.5079333333333333s-0.9009999999999999 -0.18273333333333333 -1.2262666666666666 -0.5079333333333333c-0.09273333333333333 -0.0928 -0.17393333333333333 -0.19499999999999998 -0.24259999999999998 -0.30433333333333334l0.6766666666666665 -0.6766666666666665 -0.3333333333333333 -0.3333333333333333Z"
                            clip-rule="evenodd"
                            stroke-width="0.6667"></path>
                    </g>
                </svg>
                Subscribe to our calendar
            </a>
        </p>
    </div>
</Section>
