---
import NavButton from "./NavButton.astro";

const navItems = [
    { href: "#gigs", label: "Gigs" },
    { href: "#media", label: "Media" },
    { href: "#about", label: "About" },
    { href: "#booking", label: "Booking" },
    { href: "#contact", label: "Contact" },
];
---

<nav id="mainNav" class="z-50 inline-flex" aria-label="Main navigation">
    <ul class="flex gap-2 text-sm">
        {navItems.map((props) => <NavButton {...props} />)}
    </ul>
</nav>
