//
// Typography
//

$font-family-sans-serif:
    Poppins,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

$font-family-serif: Rokkitt, ui-serif, serif;

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-serif;

$btn-font-family: $font-family-serif;
